footer{
    background-color: #0C2D48;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
footer .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
footer .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
footer .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
footer .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
footer .socials li{
    margin: 0 10px;
}
footer .socials a{
    text-decoration: none;
    color: #fff;
}
footer .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
footer .socials a:hover i{
    color: aqua;
}

footer .footer-bottom{
    background-color: #053358;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
footer .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
footer .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

.footer .container {
    max-width: 1170px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style: none;
}

.footer {
    background-color: #0C2D48;
    padding: 50px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffc107;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-contact-us input {
    background-color: #10385a;
    color: #ffffff;
    height: 2rem;
    border: transparent !important;
}

.footer-contact-us .footer-contact-us-message-form {
    background-color: #10385a;
    resize: none;
    color: white;
    border: none !important;
}

.footer-contact-us li {
    cursor: none !important;
    color: #bbbbbb;
}

.footer-contact-us button {

    width: 100% !important;
    background-color: #e91e63 !important;
}

.social-links div div {

    height: 40px;
}


.responsive-controlling i {
    font-size: 1.5rem;
}

.responsive-controlling div a p {
    font-size: 0.8rem;
    color: #999;
    font-family: "Poppins", sans-serif;
}


.responsive-controlling div a {
    padding: 10px 6px;
    display: block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    color: #151515 !important;
}

.responsive-controlling {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    z-index: 99;
}

.footer .signup {
    margin: 0 auto 2rem;
}

.footer .signup input {
    width: 30rem;
    height: 2.5rem;
    border-radius: 3px;
    border: 0;
}

.footer .signup button {
    margin-left: 1rem;
    background-color: #f8a627;
    color: white;
    border: 0;
    height: 2rem;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 0.5rem 1rem 2rem 1rem !important;
}

/*responsive*/
@media (max-width: 1025px) {
    .footer-col {
        width: 50%;
    }

    .social-links .footer-col {
        width: 100%;
    }

    .footer {
        margin-bottom: 70px !important;
    }

    .footer .signup input {
        width: 17rem;
    }

}

@media (max-width: 576px) {
    .footer-col {
        width: 50%;
    }

    .social-links .footer-col {
        width: 100%;
    }

    .footer {
        margin-bottom: 70px !important;
    }
}

@media (max-width: 360px) {
    .footer-col {
        width: 100%;
    }

    .social-links .footer-col {
        width: 100%;
    }

    .footer {
        margin-bottom: 70px !important;
    }
}

@media only screen and (max-width: 365px) {
    .footer .signup input {
        width: 14rem;
    }
}


