/*sub bar*/

.products-and-options .top-bar {
    padding: 0 2rem !important;
    background-color: white;
    height: 2.5rem;
}

.products-and-options .top-bar .options {
    width: 52%;
}

.products-and-options .top-bar .text p {
    font-weight: 550 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    font-size: 15px;
    font-family: "Amazon Ember", Arial, sans-serif;
    letter-spacing: 0.2px;
    margin: auto 0;
}

.products-and-options .top-bar .text span {
    color: #c45500 !important;
}


.products-and-options .top-bar .dropdown button {
    background-color: #e7e9ec;
    border: 1px solid transparent;
    color: black;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem !important;
    border-radius: 10px;
}

.products-and-options .top-bar .dropdown button:focus-within {
    box-shadow: 0px 0px;
}

.products-and-options .top-bar .dropdown button::after {
    display: none;
}

.products-and-options .top-bar .dropdown-menu {
    font-size: 0.9rem;
    padding: 5px 0 5px 0 !important;
    width: auto;
    top: 3px !important;
    font-weight: 550;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.products-and-options .rating .dropdown-menu i {
    color: #ff9900 !important;
    margin-left: 1px;
}

/*end of sub bar*/


/*side bar*/

.products-and-options .side-bar {
    height: auto;
    width: 15rem;
    background-color: white;
    margin-left: 1.5rem;
    margin-top: 1rem;
    padding: 1rem 2.1rem 1rem 1rem !important;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.products-and-options .side-bar input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


.products-and-options .side-bar hr {
    color: #78838c;
}

.products-and-options .side-bar .title {
    font-size: 0.85rem;
    font-weight: 550;
    color: #343434;
    margin-bottom: 10px;
}

.products-and-options .side-bar .price .price-set input {
    width: 37%;
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    font-size: 0.8rem;
}

.products-and-options .side-bar .price .price-set input::placeholder {
    text-align: center;
    font-size: 0.9rem;
}


.products-and-options .side-bar .price .price-set i {
    background-color: #ffb044;
    border-radius: 3px;
    padding: 0.2rem 0.6rem 0.1rem 0.5rem !important;
    color: whitesmoke;
    font-size: 0.9rem;
    cursor: pointer;
}

.products-and-options .side-bar .price .price-set span {
    font-size: 0.8rem;
    color: #78838c;
    margin: auto 0.5rem;
}


.products-and-options .side-bar .price .price-range input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-and-options .side-bar .price .price-range input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .side-bar .price .price-range input[type="checkbox"]:checked:after {

    display: block;
}

.products-and-options .side-bar .price .price-range label {
    font-size: 0.9rem;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.products-and-options .side-bar .price .price-range > input {
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0 0 0.1rem 1rem !important;
}

.products-and-options .side-bar .price .price-range > input::placeholder {
    font-size: 0.85rem;
    margin: auto 0;
}

/*Shipment*/

.products-and-options .shipment .title {
    font-size: 0.85rem;
    font-weight: 550;
    color: #343434;
    margin-bottom: 10px;
}

.products-and-options .shipment input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 7px;
    margin-top: 8px;
    outline: none;
    transition: 0.2s all ease;
}

.products-and-options .shipment label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    color: #333333;
}

.products-and-options .shipment input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.products-and-options .shipment input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .shipment input[type="checkbox"]:checked:after {
    display: block;
}

/*end of shipment*/


/*colors*/
.products-and-options .side-bar .colors .colors-range input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 7px;
    margin-top: 8px;
    outline: none;
    transition: 0.2s all ease;
}

.products-and-options .side-bar .colors .colors-range input[type="checkbox"]:checked {

    border: 2px solid #f1f1f1;
    border-radius: 50%;
    transition: 0.2s all ease;
}


.products-and-options .side-bar .option input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-and-options .side-bar .option input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .side-bar .option input[type="checkbox"]:checked:after {
    display: block;
}

.products-and-options .side-bar .option label {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 9px;
}

.products-and-options .side-bar .option > input {
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0 0 0.1rem 1rem !important;
}

.products-and-options .side-bar .option > input::placeholder {
    font-size: 0.85rem;
    margin: auto 0;
}

/*end of side bar*/


/*products*/
.wrapper-products-and-options {
    height: auto;
}

.products-and-options .products {

    width: 79%;
    float: right;
    margin-top: 1.5rem;
    margin-right: 1rem;
}


.products-and-options .products .item {
    height: 380px;
    width: 23%;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    margin-right: 0.65rem;
    margin-left: 0.65rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}

.products-and-options .products .item:hover {
    transition: all 0.5s ease;
    height: 455px;

}

.products-and-options .products .item .details {
    padding: 0.8rem 1rem 0.6rem 1rem !important;
    position: relative;
}

.products-and-options .products .item .image {
    width: 100%;
    overflow: hidden;
    height: 205px;
}

.products-and-options .products .item .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.products-and-options .products .item .details .review .stars p {
    font-size: 0.85rem;
    color: #a9a9a9;
    margin-right: 5px;
}

.products-and-options .products .item .details .review .stars i {
    color: #efc40c;
    font-size: 0.8rem;
    margin-bottom: 15px;
}

.products-and-options .products .item .details .review .price {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 17px;
}

.products-and-options .products .item .details .description p {
    color: #a9a9a9;
    font-size: 12px;
    margin-top: 0.7rem;
    background-color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.products-and-options .products .item .operation-buttons .request {
    background-color: #efefef;
    border-radius: 50%;
    font-size: 1.2rem;
    color: black;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0 0 0 !important;
}

.products-and-options .products .item .operation-buttons .cart {
    width: 65%;
    border-radius: 15px;
    padding: 0.5rem 1rem 0.5rem 0.7rem !important;
    background-color: #0C2D48;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-left: 1.1rem;
}

.products-and-options .products .item .operation-buttons .cart p {
    padding: 0 0 0 0 !important;
    margin: 0 0 0 0 !important;
    font-size: 0.9rem;
}

.products-and-options .products .item .operation-buttons .cart i {
    background-color: #023a62;
    border-radius: 50%;
    padding: 0.5rem 0.7rem !important;
    font-size: 0.9rem;
    color: whitesmoke;
}


.products-and-options .products .item .operation-buttons {
    transition: all 0.5s ease;
    transform: translateY(300px);
    position: absolute;
    top: 150px;
    width: 100%;
}

.products-and-options .products .item:hover .operation-buttons {
    transition: all 0.5s ease;
    transform: translateY(0px);
}


/*end of products*/


/*pagination*/

.products-and-options .pagination {
    width: 100%;
    margin-top: 2rem;
}

.products-and-options .pagination > div {

    margin: 0 auto;
    border-radius: 0.6rem;
    padding: 0.8rem 1rem;
    min-width: 10%;
}

.products-and-options .pagination > div > p {
    margin: 0;
    width: 1.5rem;
    text-align: center;
    color: #5f5f5f;
    cursor: pointer;
}

.products-and-options .pagination > div > p:hover {
    color: #ff9c00;
}

.products-and-options .pagination > div > i {
    color: #ff9c00;
    cursor: pointer;
}

/*end of pagination*/


@media only screen and (max-width: 992px) {

    .products-and-options .top-bar .options {
        width: 100%;
    }

    .products-and-options .top-bar .text p {
        display: none;
    }

    .products-and-options .top-bar .filter-button {
        display: block !important;
    }

    .products-and-options .side-bar {
        display: none;
    }

    .products-and-options .products {
        width: 96%;
    }

    .products-and-options .products .item {
        width: 30.5%;
        height: 428px;
    }

    .products-and-options .products .item .image {
        height: 180px;
    }


    .products-and-options .products .item .details .review .stars p {
        display: none;
    }

    .products-and-options .products .item .details .review .stars i {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .products-and-options .products .item .operation-buttons .cart {
        width: 63%;
    }
    .products-and-options .products .item .operation-buttons {
        transform: translateY(0px);
    }

    }

@media only screen and (max-width: 576px) {
    .products-and-options .top-bar {
        padding: 0 1rem 1rem 1rem !important;
        background-color: white;
        height: auto !important;
    }

    .products-and-options .top-bar .options {
        width: 100%;
    }

    .products-and-options .top-bar .options > div{
        margin-top: 1rem;
    }
    .products-and-options .products .item {
        width: 100%;
        height: 555px;
        margin-bottom: 2rem;
        margin-right: 0.1rem;
        margin-left: 1rem;
    }

    .products-and-options .products .item:hover {
        height: 555px;
    }

    .products-and-options .products .item .image {
        height: 310px;
    }


    .products-and-options .products .item .details .review .stars p {
        display: block;
    }
    .products-and-options .products .item .operation-buttons .cart {
        width: 52%;
        margin-left: 6rem;
    }

}