/*sub bar*/

.products-and-options .top-bar {
    padding: 0 2rem !important;
    background-color: white;
    height: 2.5rem;
}

.products-and-options .top-bar .options {
    width: 85%;
    /*background-color: #f8a627;*/
}

.products-and-options .top-bar .options > div {
    margin-left: 2.5rem;
}

.products-and-options .top-bar .text {
    /*background-color: #0a58ca;*/
    width: auto;
}

.products-and-options .top-bar .text p {
    font-weight: 550 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
    font-size: 15px;
    font-family: "Amazon Ember", Arial, sans-serif;
    letter-spacing: 0.2px;
    margin: auto 0;
}

.products-and-options .top-bar .text span {
    color: #c45500 !important;
}


.products-and-options .top-bar .dropdown button {
    background-color: #e7e9ec;
    border: 1px solid transparent;
    color: black;
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem !important;
    border-radius: 10px;
}

.products-and-options .top-bar .dropdown button:focus-within {
    box-shadow: 0px 0px;
}

.products-and-options .top-bar .dropdown button::after {
    display: none;
}

.products-and-options .top-bar .dropdown-menu {
    font-size: 0.9rem;
    padding: 5px 0 5px 0 !important;
    width: auto;
    top: 3px !important;
    font-weight: 550;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 0;
    max-height: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.products-and-options .rating .dropdown-menu i {
    color: #ff9900 !important;
    margin-left: 1px;
}

/*end of sub bar*/


.products-and-options .products .product-card-item {
    width: 21%;
}


/*side bar*/


.products-and-options .side-bar {
    height: 100%;
    width: 16rem;
    background-color: white;
    margin-left: 1.5rem;
    margin-right: 4rem;
    margin-top: 1rem;
    padding: 1rem 2.1rem 1rem 1rem !important;
    border-radius: 7px;
    margin-bottom: 2rem;
}


.products-and-options .side-bar input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


.products-and-options .side-bar hr {
    color: #78838c;
}

.products-and-options .side-bar .title {
    font-size: 0.85rem;
    font-weight: 550;
    color: #343434;
    margin-bottom: 1.2rem;
    /* margin-bottom: 1rem; */
}


.products-and-options .side-bar .price .price-set input {
    width: 37%;
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    font-size: 0.8rem;
}

.products-and-options .side-bar .price .price-set input::placeholder {
    text-align: center;
    font-size: 0.9rem;
}


.products-and-options .side-bar .price .price-set i {
    background-color: #ffb044;
    border-radius: 3px;
    padding: 0.2rem 0.6rem 0.1rem 0.5rem !important;
    color: whitesmoke;
    font-size: 0.9rem;
    cursor: pointer;
}

.products-and-options .side-bar .price .price-set span {
    font-size: 0.8rem;
    color: #78838c;
    margin: auto 0.5rem;
}


.products-and-options .side-bar .price .price-range input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem !important;
    height: 1.2rem !important;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-and-options .side-bar .price .price-range input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .side-bar .price .price-range input[type="checkbox"]:checked:after {

    display: block;
}

.products-and-options .side-bar .price .price-range label {
    font-size: 0.9rem;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.products-and-options .side-bar .price .price-range > input {
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0 0 0.1rem 1rem !important;
}

.products-and-options .side-bar .price .price-range > input::placeholder {
    font-size: 0.85rem;
    margin: auto 0;
}

.products-and-options .side-bar .options .option .color > p {
    margin: 0 !important;
}


.products-and-options .default-options > div:not(:first-child) {
    margin-top: 1.5rem;
}

.products-and-options .default-options .title {
    font-size: 0.85rem;
    font-weight: 550;
    color: #343434;
    margin-bottom: 10px;
}

.products-and-options .default-options input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 7px;
    margin-top: 8px;
    outline: none;
    transition: 0.2s all ease;
}

.products-and-options .default-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.9rem;
    color: #333333;
}

.products-and-options .default-options input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.products-and-options .default-options input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .default-options input[type="checkbox"]:checked:after {
    display: block;
}

/*end of shipment*/


/*colors*/
.products-and-options .side-bar .colors .colors-range input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 4px;
    width: 1.9rem;
    height: 1.9rem;
    margin-right: 7px;
    margin-bottom: 8px;
    outline: none;
    transition: 0.2s all ease;

}

.products-and-options .side-bar .colors .colors-range input[type="checkbox"]:checked {

    border: 2px solid #f1f1f1;
    border-radius: 50%;
    transition: 0.2s all ease;
}

.products-and-options .side-bar .colors .colors-range .bg-white {
    background-color: white;
    border: 1px solid #dddddd;
}

.products-and-options .side-bar .colors .colors-range .bg-orange {
    background-color: #f9a01b;
}

.products-and-options .side-bar .colors .colors-range .bg-brown {
    background-color: #754c24;
}

.products-and-options .side-bar .colors .colors-range .bg-pink {
    background-color: #fdb1c0;
}

.products-and-options .side-bar .colors .colors-range .bg-cream {
    background-color: #ffe6c2;
}

.products-and-options .side-bar .colors .colors-range .bg-silver {
    background-color: #dddddd;
}

.products-and-options .side-bar .colors .colors-range .bg-yellow {
    background-color: #f3f306;
}

.products-and-options .side-bar .colors .colors-range .other-color {
    background-image: url("/src/images/colors.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-and-options .side-bar .option input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    border: 1px solid #cbccce;
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
}

.products-and-options .side-bar .option input[type="checkbox"]:after {
    content: "✓";
    color: #292929;
    font-weight: 500;
    display: none;
}

.products-and-options .side-bar .option input[type="checkbox"]:checked:after {
    display: block;
}

.products-and-options .side-bar .option label {
    font-size: 0.9rem;
    display: flex;
    /*flex-wrap: wrap;*/
    align-items: start;
    cursor: pointer;
    margin-bottom: 9px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.products-and-options .side-bar .option label div {
    margin-right: 0.5rem;
}


.products-and-options .side-bar .option > input {
    height: 1.8rem;
    background-color: #FAFAFA;
    border: 1px solid #d9d8d8;
    border-radius: 3px;
    color: #78838c;
    width: 100%;
    margin-bottom: 0.6rem;
    padding: 0 0 0.1rem 1rem !important;
}

.products-and-options .side-bar .option > input::placeholder {
    font-size: 0.85rem;
    margin: auto 0;
}

/*end of side bar*/


/*products-json*/
.wrapper-products-and-options {
    height: auto;
}

.products-and-options .products {

    width: 79%;
    /*float: right;*/
    margin-top: 1.2rem;
    /*margin-right: 1rem;*/
}

.products-and-options .no-item {
    background-color: #e2e0e0;
    width: 90%;
    height: 3.5rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-weight: 500;
    color: #343434;
}


/*end of products-json*/


/*pagination*/

.products-and-options .pagination {
    width: 100%;
    margin-top: 2rem;
}

.products-and-options .pagination > div {

    margin: 0 auto;
    border-radius: 0.6rem;
    padding: 0.8rem 1rem;
    min-width: 10%;
}

.products-and-options .pagination > div > p {
    margin: 0;
    width: 1.5rem;
    text-align: center;
    color: #5f5f5f;
    cursor: pointer;
}

.products-and-options .pagination > div > p:hover {
    color: #ff9c00;
}

.products-and-options .pagination > div > i {
    color: #ff9c00;
    cursor: pointer;
}

/*end of pagination*/


@media only screen and (max-width: 1025px) {

    .products-and-options .top-bar .options {
        width: 100%;
    }

    .products-and-options .top-bar .text p {
        display: none;
    }

    .products-and-options .top-bar .filter-button {
        display: block !important;
    }

    .products-and-options .side-bar {
        position: absolute;
        z-index: 1;
        transform: translateX(-30rem);
        transition: ease .8s;
        overflow-y: auto;
        height: 75%;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    .products-and-options .side-bar-container {
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        transition: ease .8s;

    }

    .products-and-options .side-bar::-webkit-scrollbar {
        display: none;
    }

    .products-and-options .side-bar-active {

        transform: translateX(0rem);
    }


    .products-and-options .products {
        width: 100%;
        padding: 0 0 0 2rem;
        margin-bottom: 2rem;
    }


    .products-and-options .products .product-card-item {
        width: 28.95%;
        margin: 2rem 2rem 0 0;

    }

    .product-card-item .details .description p {
        line-clamp: 1;
        -webkit-line-clamp: 1;
    }

}

@media only screen and (max-width: 576px) {

    .products-and-options .top-bar {
        /*padding: 0 1rem 1rem 1rem !important;*/
        background-color: white;
        height: auto !important;
        padding: 0 0 0.5rem 0 !important;
    }

    .products-and-options .top-bar .options {
        width: 100%;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: start !important;

    }

    .products-and-options .top-bar .dropdown button {

        padding: 0.15rem 0.4rem !important;

    }

    .products-and-options .top-bar .options > div:not(:last-of-type) {
        margin: 0.5rem 0 0.5rem 0.5rem !important;
    }

    .products-and-options .top-bar .options > div:not(:first-of-type) {
        margin: 0.5rem 0 0.5rem 0.5rem !important;
    }

    .products-and-options .products {
        width: 100%;
        padding: 0 0 0 1rem;
        margin-bottom: 2rem;
    }


    .products-and-options .products .product-card-item {
        width: 44.5%;
        margin: 2rem 1rem 0 0;

    }

    .products-and-options .products .product-card-item .review .stars i:not(:first-of-type) {
        display: none;

    }

    .products-and-options .products .product-card-item .description {
        height: 4.2rem;
        text-overflow: ellipsis;
        /*white-space: nowrap;*/
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 0.5rem;
    }


    .products-and-options .products .product-card-item .description p {
        display: none !important;
    }


    .products-and-options .products .product-card-item h5 {
        font-size: 1.1rem;
    }

    .products-and-options .products .product-card-item h6 {
        font-size: 1.1rem;
    }


    .products-and-options .products .product-card-item .price {
        font-size: 0.8rem !important;
    }

    .products-and-options .product-card-item .image {
        height: 170px !important;
    }


    .products-and-options .side-bar {

        height: 60%;
    }

}