@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

.product-info {
    height: auto;
}

.product-info input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


.product-info .main .operations > hr {
    color: #78838c;
    width: 100%;
    height: 1px;
    margin: 0 auto;
}

.product-info .main .operations > p {
    margin-bottom: 0.2rem;
}

.product-info > .main {

    width: 100%;
    background-color: white;
    border-radius: 7px;
    height: auto;
    padding: 1rem 0 1rem 0 !important;
}

.product-info .main .photos {
    height: auto;
    width: 45%;
}


.product-info .main .operations {
    padding: 0 1rem 1rem 2rem !important;
    height: auto;
}


.product-info .main .operations > .product-title {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    /*margin: 1rem 0;*/
}

.product-info .main .operations > .product-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}

.product-info .main .operations > .product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
    /*position: relative;*/
    clear: both;
}

.product-info .main .operations > .product-link:hover {
    opacity: 0.9;
}

.product-info .main .operations > .product-rating {
    color: #ffc107;
}

.product-info .main .operations > .product-rating span {
    font-weight: 600;
    color: #252525;
}

.product-info .main .operations > .product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-info .main .operations > .product-price span {
    font-weight: 400;
}

.product-info .main .operations .product-price .last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.product-info .main .operations .product-price .new-price span {
    color: #256eff;
}

.product-info .main .operations .product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-info .main .operations .product-detail p {
    font-size: 1rem;
    padding: 0.3rem;
    opacity: 0.8;
    margin-bottom: 0 !important;
}


.product-info .main .operations .options .count p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.product-info .main .operations .options .count i {
    font-size: 1.3rem;
    border-radius: 50%;
    color: black;
    background-color: #e9e9e9;
    padding: 0 1px;
}

.product-info .main .operations .options .count input {
    width: 3.5rem;
    margin: 0 10px;
    height: 1.5rem;
    background-color: #f2f8ff;
    border: 1px solid #d7d6d6;
}

.product-info .main .operations .options .count span {
    font-size: 0.8rem;
    color: #78838c;
    margin-left: 0.5rem;
}


/*colors*/
.product-info .main .operations .options .colors {
    width: 100%;
}

.product-info .main .operations .options .colors p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 20px;
}

.product-info .main .operations .options .colors input[type="checkbox"] {
    appearance: none;
    /*cursor: pointer;*/
    border-radius: 4px;
    width: 1.9rem;
    height: 1.9rem;
    margin-left: 7px;
    margin-top: 8px;
    outline: none;
    transition: 0.2s all ease;
}

.product-info .main .operations .options .option {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.product-info .main .operations .options .option .title {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 0;

}


.product-info .main .operations .options .option .option-item span {
    margin-left: 0.7rem;
    background-color: #ccd4d9;
    border-radius: 3px;
    padding: 0.15rem 0.7rem !important;
    margin-top: 0.7rem;
    text-align: center;
    font-size: 0.9rem;
    /*cursor: pointer;*/
    font-weight: 350;
}

.product-info .main .photos .mySwiper .swiper-slide-thumb-active img {
    border: solid 1px #ff8b39 !important;
    border-radius: 3px !important;
}

/*.product-info .main .operations .options .option .option-item span:hover {*/
/*    border: 1px solid red;*/
/*}*/

.product-info .main .operations .buttons {
    margin-top: 2rem;
}

.product-info .main .operations .buttons button {
    outline: none;
    box-shadow: none;
}

.product-info .main .operations .buttons i {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 0 0 15px;
    border-radius: 6px;
    box-shadow: 0 1px 4px #0000000d;
    border: solid 1px #e6e6e6;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.product-info .main .operations .buttons .bi-bag-check {
    color: #21c321;

}

.product-info .main .operations .buttons a {
    width: auto;
    border-radius: 7px;
    color: #4a5258;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: 420;
    background: #e0e5ec;

}


.product-info .main .operations .buttons a > i {
    background-color: #acb2b8;
    border-radius: 50%;
    padding: 0.4rem 0.7rem;
    margin-left: 0.8rem;
    color: white;

}


.product-info .main .operations .featured-information .all-features a {
    border: 1px solid #e6e6e6;
    transition: all .3s ease;
    background-color: #fff;
    color: #333;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 6px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    letter-spacing: .05rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

.product-info .main .operations .featured-information .all-features a:hover {
    border-color: #f8a627 !important;
    color: #f8a627 !important;
}

.product-info .main .operations .featured-information .featured-information-header {
    color: #333;
    font-size: 14px;
    font-family: Open Sans, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 3px;
}

.product-info .main .operations .featured-information hr {
    border: none;
    border-top: 1px solid #979797;
    opacity: .2;
    margin-top: 13px;

}

.product-info .main .operations .featured-information .starred-attributes ul {

    list-style: none;
    display: flex;
    color: #333;
    font-size: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
    /*font-size: 0.75rem;*/
}

.product-info .main .operations .featured-information .starred-attributes ul li {

    display: inline-flex;
    width: 47%;
    margin-top: 10px;
}

.product-info .main .operations .featured-information .starred-attributes ul li span {
    min-width: 35%;
    /*min-width: 43%;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

.product-info .main .operations .featured-information .starred-attributes ul li span.attribute-label {
    color: #666;
}

.product-info .main .operations .featured-information .starred-attributes ul li span.attribute-value {
    font-family: source_sans_prosemibold, serif;
    -webkit-font-smoothing: antialiased;
}

.product-info .main .operations .featured-information .starred-attributes ul li i {
    font-style: normal;
    margin: 0 10px;
}

.product-info .main .operations .featured-information .content-descriptions ul.starred {
    max-height: 145px;
    list-style: none;
}

.product-info .main .operations .featured-information .content-descriptions ul li {
    font-size: 12px;
    line-height: 28px;
    background: url(https://cdn.dsmcdn.com/web/production/ellipse.png) no-repeat 0 11px !important;
    color: #333;
    padding-left: 15px;
}

.product-info .main .operations .featured-information .product-description-link {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
}

/*sub*/

/*company*/

.product-info .sub .company {
    margin-top: 3rem;
    border-radius: 7px;
    background-color: white;
    padding: 1rem 2rem 1rem 2rem !important;
}

.product-info .sub .company .title {
    margin-top: 0.2rem !important;
}

.product-info .sub .company > p {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

.product-info .sub .company .info {
    width: 100%;
    height: 14rem;
}

.product-info .sub .company .info > div {
    display: flex;
    flex-direction: column;
}


.product-info .sub .company .info .review h1 {
    font-size: 5rem !important;
    color: #555555;
}

.product-info .sub .company .info .review .stars i {
    margin-left: 5px;
    color: #ffc800;
    font-size: 1.25rem;
}

.product-info .sub .company .info .review p {
    font-size: 0.84rem;
}

.product-info .main .swiper-button-prev, .product-info .main .swiper-button-next {
    background-color: transparent !important;
}

.product-info .main .swiper-button-prev::after, .product-info .main .swiper-button-next::after {
    color: #abb5b5 !important;
    /*text-shadow: 20px 20px 20px #000000;*/
}

.product-info .sub .company .info .photo .image {
    width: 13rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 5px;
}

.product-info .sub .company .info .photo .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info .sub .company .info .photo p {
    margin-top: 12px !important;
    font-weight: 500;
}

.product-info .sub .company .info .photo:hover p {
    text-decoration: underline;
}

.product-info .sub .company .info .little-info p {
    font-size: 0.84rem;
    color: #0c6fc3;
    letter-spacing: 0.3px;
}

.product-info .sub .company .info .little-info {
    line-height: 26px;
}

.product-info .sub .company .description p {

    font-size: 0.8rem;
    color: #606575;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/*end of compnay*/


/*about of product*/

.product-info .about P {
    margin: 0;
}

.product-info .about {
    border-radius: 7px;
    padding: 1rem 2rem 1.6rem 2rem !important;
    position: relative;
    overflow: hidden;
}

.product-info .about .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";

}

.product-info .about table .detail-title {
    color: #333333;
    font-weight: bold;
    line-height: 1rem;
    font-size: 1rem;
    padding: 1rem 0 0.3rem 0 !important;
}


.product-info .about table {
    width: 100%;
}


.product-info .about table > tbody > tr > td:first-child {
    width: 40%;
    font-size: 0.9rem;
}

.product-info .about table > tbody > tr > td:last-child {
    width: 60%;
    font-size: 0.9rem;
}


.product-info .about .product-description {

    color: #0C2D48 !important;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    margin-top: 0.5rem !important;
    width: 90%;

    /*font-family: Skin-market-sans, serif;*/
}

/*end of about product*/


/*review*/


.product-info .review p {
    margin: 0;
}

.product-info .review {
    background-color: white;
    padding: 1rem 0rem 1.6rem 0rem !important;
    border-radius: 7px;
}

/*main*/

.product-info .review .main {
    width: 100%;
    margin-bottom: 2rem !important;
    padding: 0 2rem;
}


.product-info .review .main .header {
    width: 100%;
    margin-bottom: 0.7rem;
}

.product-info .review .main .header p {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

.product-info .review .main .header button {
    background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f8f8f8));
    border: 1px solid #ddd;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 1rem;
    color: #0a61e0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info .review .main .header button:hover {
    border: 1px solid #aeaeae;
}

.product-info .review .main .rating-info .ratings-info-stars {
    width: 39%;
}

.product-info .review .main .rating-info .rating-star span {
    font-size: 1.6rem;
    line-height: normal;
    /*font-family: source_sans_prosemibold, serif;*/
    -webkit-font-smoothing: antialiased;
    margin-right: 11px;
    font-weight: 500;

}

.product-info .review .main .rating-info .rating-star i {
    font-size: 1.3rem;
    color: #FCC404;
}

.product-info .review .main .rating-info > p {
    margin: 0 !important;
    font-size: 0.9rem;
}

.product-info .review .main .rating-info .ratings-info-stars {
    font-size: 0.7rem;
}

.product-info .review .main .rating-info .ratings-info-stars .item {
    margin-top: 0.2rem;
}

.product-info .review .main .rating-info .ratings-info-stars .item > * {
    margin-right: 0.5rem;
}

.product-info .review .main .rating-info .ratings-info-stars .item span:first-of-type {
    color: #3a3c3c;
}

.product-info .review .main .rating-info .ratings-info-stars .item span:last-of-type {
    color: #787c7c;
}

.product-info .review .main .rating-info .ratings-info-stars .item .stars i {
    color: #FCC404;
}

.product-info .review .main .rating-info .ratings-info-stars .item .rating-info-bar {
    background-color: #dddddd;
    width: 8rem;
    height: 0.4rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.product-info .review .main .rating-info .ratings-info-stars .item .rating-info-bar > div {
    background-color: #F8C95C;
    width: 50%;
    height: 100%;
}


.product-info .review > .photo {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.product-info .review > .photo img {
    border-radius: 10px;
    height: 35rem;
    width: 60%;
    object-fit: contain;
}


.product-info .review > .photo i {
    position: absolute;
    /*top: 1rem;*/
    right: 1.5rem;
    background-color: #eaefef;
    color: #0a58ca;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.product-info .review > .photo i:hover {
    color: red;
}

/*end of pie*/

/*end of main*/

/*sub of review*/

.product-info .review .sub {
    padding: 0 2rem;
}


.product-info .review .sub .for-scroll {
    /*max-height: 45rem;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.product-info .review .sub .review-wrapper {
    width: 100%;
}


.product-info .review .sub .review-wrapper .review-section-r {
    width: 100%;
    height: auto;
    margin-top: 2.5rem;

}

.product-info .review .sub .review-wrapper .review-section-r hr{
    width: 90%;
}

.product-info .review .sub .review-wrapper .review-section-r .info-comment-id {
    font-size: 0.8rem;
}

.product-info .review .sub .review-wrapper .review-section-r .info-comment-id p {
    color: #75797e;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

.product-info .review .sub .review-wrapper .review-section-r .info-comment-id i {
    color: #FCC404;
}


.product-info .review .sub .review-wrapper .review-section-r > .title {
    font-size: 1.2rem;
    font-weight: 380;
    color: black;
}

.product-info .review .sub .review-wrapper .review-section-r .content {
    color: #555;
    font-size: 0.9rem;
    margin-top: 0.5rem !important;
}

.product-info .review .sub .review-wrapper .review-section-r .about {
    padding: 0 !important;
    font-size: 0.9rem;
    margin-top: 0.3rem !important;
}

.product-info .review .sub .review-wrapper .review-section-r .photos {
    margin-top: 1.5rem !important;
    width: 60%;
}

.product-info .review .sub .review-wrapper .review-section-r .photos img {
    width: 4.5rem;
    height: 5rem;
    cursor: pointer;
    object-fit: contain;
    border-radius: 0.3rem;
    margin-right: 1.5rem;
    /*border : 1px solid #efecec;*/
}

/*end of sub of review*/

/*end of review  */


/*questions*/

.product-info .questions {
    background-color: white;
    padding: 1rem 2rem 1.6rem 2rem !important;
    border-radius: 7px;
    width: 100%;
    max-height: 40rem;
    margin-top: 3.5rem;

}

.product-info .questions > div {
    overflow-y: auto;
    max-height: 35.5rem;
}

.product-info .questions li {
    list-style: none !important;
    display: list-item;

}

.product-info .questions ul {
    padding: 0 !important;

}

.product-info .questions hr {
    color: #b5b4b4;
}

.product-info .questions p {
    margin: 0;
}

.product-info .questions .title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
    margin-bottom: 1.5rem !important;
}

.product-info .questions .ask-content {
    -webkit-font-smoothing: antialiased;
    font-size: 0.95rem;
    font-weight: bold !important;
    color: #333;
    font-family: Open Sans, sans-serif;
    margin-left: 0.7rem !important;
}

.product-info .questions .answer-item div {
    margin-top: 0.7rem !important;
    font-weight: bold;
}

.product-info .questions .answer-content {
    font-size: 0.95rem;
    color: #333;
    font-family: Open Sans, sans-serif;
    margin-left: 0.7rem !important;
    font-weight: 380 !important;
}


/*end of questions*/


/*message*/

.product-info .message input:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.product-info .message textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}


.product-info .message {
    margin-top: 3rem;
    background-color: white;
    width: 100%;
    border-radius: 7px;
    padding: 1rem 2rem 1.6rem 2rem !important;

}

.product-info .message .main {
    padding: 0 0 0 5rem !important;
}

.product-info .message p {
    margin: 0;
    font-size: 0.9rem;
}

.product-info .message .title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";
}

.product-info .message .supplier > p {
    color: #808081;
    margin-left: 2.8rem !important;
}

.product-info .message .supplier p > span {
    color: #333;
    margin-left: 0.8rem;
}

.product-info .message .text > p {
    color: #808081;
}

.product-info .message .text > textarea {
    resize: none;
    border-radius: 2px;
    border: 1px solid #8a8a8a;
    margin-left: 1rem;
    font-size: 0.9rem;
}

.product-info .message .text > textarea::placeholder {
    font-size: 0.9rem !important;
}

.product-info .message textarea:focus {
    border: 1px solid #565656;
}

.product-info .message .text > .balloon {
    font-size: 15px;
    font-weight: 400;
    margin-left: 1.2rem;
    background-color: #e3e3e3;
    border-radius: 2px;
    color: black !important;
    position: relative;
    height: 7.4rem;
    width: 13rem;
    padding: 1.2rem 1rem 1.3rem 1.5rem;
    font-family: Roboto, "Helvetica Neue", Helvetica Neue, Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei";

    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
}

.product-info .message .text > .balloon p {
    color: black;
}

.product-info .message .text > .balloon::before {
    border: 15px solid transparent;
    border-right-color: #e3e3e3;
    content: '';
    left: -30px;
    position: absolute;
    top: 0.5%;

}


.product-info .message .main > p {
    margin-left: 5rem !important;
    font-size: 0.9rem;
}

.product-info .message .main > button {
    background-color: #0b52b8;
    padding: 0.4rem 1.8rem 0.4rem 1.8rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-size: 1.2rem;
    border: none;
    margin-top: 2rem;
    margin-left: 4rem !important;

}

/*end of message */

/*properties*/

.product-info .product-properties {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
}

.product-info .product-properties .header > .title {
    font-size: 1.1rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 0 !important;
}

.product-info .product-properties .property-group > div{
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 40%;
}

.product-info .product-properties .property-group .property {
    width: 100%;
    border: 1px solid #f4f4f4;
    /*display: table;*/
    /*table-layout: fixed;*/
    /*height: 100%;*/
    margin-top: 1rem;
}

.product-info .product-properties .property-group .property > div {
    /*background-color: #f4f4f4;*/
    padding: 0.3rem;
    /*margin-top: 2rem;*/
    font-size: 15px;
}

.product-info .product-properties .property-group .property > div:nth-child(odd) {
    background-color: #f4f4f4;
}

.product-info .product-properties .property-group .property > .title span {
    font-size: 1.05rem;
    font-weight: 600;
}


.product-info .product-properties .property-group .property .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    color: #717171;
    padding: 0.3rem 0.7rem;
    align-items: center;
}

.product-info .product-properties .property-group .property .item span:first-of-type {
    border-bottom: 1px #000 dashed;
    color: black;
}

.product-info .product-properties .property-group .color-property .item span:last-of-type {
    width: 3rem;
    height: 0.9rem;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.product-info .product-properties .property-group .color-property .item .bg-white {
    background-color: white;
    border: 1px solid #dddddd;
}

.product-info .product-properties .property-group .color-property .item .bg-orange {
    background-color: #f9a01b;
}

.product-info .product-properties .property-group .color-property .item .bg-brown {
    background-color: #754c24;
}

.product-info .product-properties .property-group .color-property .item .bg-pink {
    background-color: #fdb1c0;
}

.product-info .product-properties .property-group .color-property .item .bg-cream {
    background-color: #ffe6c2;
}

.product-info .product-properties .property-group .color-property .item .bg-silver {
    background-color: #dddddd;
}

.product-info .product-properties .property-group .color-property .item .bg-yellow {
    background-color: #f3f306;
}

.product-info .product-properties .property-group .color-property .item .other-color {
    background-image: url("/src/images/colors.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*end of properties*/

/*end of sub*/
