

.profile-user {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    padding: 0 8rem !important;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

.profile-user p {
    margin: 0;
}

.profile-user header {
    height: auto;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #d9dadb;
}

/*profile photo*/

.profile-user header .pp-bp {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 20rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.profile-user header .pp-bp img:first-of-type {
    position: absolute;
    top: 35%;
    left: 3%;
    width: 11rem;
    height: 11rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile-user header .pp-bp img:last-of-type {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*end of ptofile photo*/

/*header*/

/*info texts*/

.profile-user header > div:last-of-type {
    padding: 0.6rem 1.5rem 1.1rem 1.5rem !important;
}

.profile-user header > div > .texts > .info {
    width: 70%;
}

.profile-user header > div > .texts > .business-type {
    width: 30%;
}


.profile-user header > div > .texts > .info > h1 {
    font-size: 24px;
    color: #000000E6;
}


.profile-user header > div > .texts > .info > h6 {
    color: #000000E6;
    font-size: 16px;
    font-weight: 350;
}

.profile-user header > div > .texts > .info > p:first-of-type {
    color: #747475;
    font-size: 14px;
    font-weight: 350;
}

.profile-user header > div > .texts > .info > p:first-of-type > span {
    color: #0A66C2;
    font-size: 14px;
    font-weight: 550;
    cursor: pointer;
    margin-left: 0.3rem;
}

.profile-user header > div > .texts > .info > p:first-of-type > span:before {
    box-sizing: inherit;
    content: "\00B7";
    margin-right: 0.3rem;
    color: #747475;
}

.profile-user header > div > .texts > .info > p:first-of-type > span:hover {
    text-decoration: underline;
}

.profile-user header > div > .texts > .info > p:first-of-type > span:hover::before {
    text-decoration: none;
}

.profile-user header > div > .texts > .info > p:last-of-type {
    color: #545454;
    font-size: 14px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.profile-user header > div > .texts > .info > p:last-of-type > span {
    color: #747475;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.5rem;
}

/* end of  texts info*/


/*texts bussines type */

.profile-user header > div > .texts .business-type .item a {
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-left: 0.3rem;
}

.profile-user header > div > .texts .business-type .item img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
    border-radius: 3px;
}

/* end of texts bussines type */


/*actions */

.profile-user header > div > .actions .buttons button:not(:first-child) {
    margin-left: 1.5rem;
}

.profile-user header > div > .actions .buttons .follow {
    background-color: #0A66C2;
    border: 1px solid #0A66C2;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    font-size: 0.9rem;
    padding: 0 1rem;
}

.profile-user header > div > .actions .buttons .follow:hover {
    background-color: #074a8c;
}

.profile-user header > div > .actions .buttons .message {
    background-color: white;
    border: 1px solid #5d5d5d;
    color: #747475;
    font-weight: 500;
    border-radius: 5px;
    padding: 0 0.7rem !important;
    font-size: 0.9rem;
}

.profile-user header > div > .actions .buttons .message:hover {
    background-color: #eaeaea;
    border: 1.5px solid #545454;
    color: #646464;
    font-weight: 600;
}


.profile-user header > div > .actions .buttons .site {
    background-color: white;
    border: 1.5px solid #0A66C2;
    color: #0A66C2;
    font-weight: 400;
    border-radius: 20px;
    padding: 0 0.7rem !important;
    font-size: 0.9rem;
}

.profile-user header > div > .actions .buttons .site:hover {
    background-color: #d7e5f6;
    font-weight: 600;
    border: 2px solid #0A66C2;
    text-decoration: underline;
}

.profile-user header > div > .actions .buttons .share {
    background-color: #0A66C2;
    border: 1px solid #0A66C2;
    color: white;
    font-weight: 650;
    border-radius: 5px;
    padding: 0 0.7rem !important;
    font-size: 0.9rem;
}

.profile-user header > div > .actions .buttons .share:hover {
    background-color: #074a8c;
}

.profile-user header > div > .actions .review {
    border-bottom: 2px solid #3EA6FF;

}

.profile-user header > div > .actions .review button {
    background-color: white;
    border: none;
    font-size: 1rem;
    color: #9f9e9e;
}

.profile-user header > div > .actions .review i {
    font-size: 1.4rem;
}

.profile-user header > div > .actions .review .like {
    color: #2d89d7;
}

/*end of actions*/


/*end of header*/


/*body*/

/*company description*/

.profile-user .body{

    width: 100%;
}

.profile-user .body .description .title {
    width: 100%;
    font-size: 1.5rem;
}

.profile-user .body .description {
    border-radius: 8px;
    background-color: white;
    padding: 1rem 0.9rem 0.9rem 0.9rem !important;
    width: 100%;
}

.profile-user .body p {
    width: 100%;
    font-size: 0.9rem;
    color: #565656;
}

.profile-user .body .description table{
    width: 100%;
    font-weight: 600;
    font-size: 0.9rem;
    margin-top: 1.5rem;
}

.profile-user .body .description table tbody tr{

    margin-top: 5rem !important;
    line-height: 2rem;
}

.profile-user .body .description table tbody tr td:first-of-type{
    width: 25%;
}

/* end of company description*/

/*company overview */


.profile-user .body .overview {
    background-color: white;
    border-radius: 8px;
    height: auto;
    padding: 1rem 1.5rem 1.1rem 1.5rem !important;
}

.profile-user .body .overview > div{
    margin-top: 2rem;
}

.profile-user .body .overview > .title{
    width: 100%;
    font-size: 1.5rem;
}

.profile-user .body .overview > .album{
    height: 17rem;
    /*background-color: #0a58ca;*/
}

.profile-user .body .overview > .album > p{
    color: #6e6e6e;
    width: 100%;
}
.profile-user .body .overview > .album > p >span{
    color: #c8c8c8;
    margin-left: 0.8rem;
}


.profile-user .body .overview .album .swiper-container {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
}

.profile-user .body .overview .album .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #f8a627;
    border-radius: 8px;
}
.profile-user .body .overview .album .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.profile-user .body .overview .album .swiper-slide video {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 8px;
 }


.profile-user .body .overview > .info > p{
    color: #6e6e6e;
    width: 100%;
}
.profile-user .body .overview .info table{
    width: 50%;
    margin-top: 1rem;
    font-size: 0.85rem;
    font-family: Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
}

.profile-user .body .overview > .info table tbody tr td{
    border: 1px solid #d9d8d8;
    padding: 0 0 0 1rem !important;
}

.profile-user .body .overview > .info table tbody tr td:first-of-type{
    width: 40%;
    line-height: 2rem;
    background-color: #FAFAFA;
}

.profile-user .body .overview > .info table tbody tr td:last-of-type{
    color: #515151;
}


.profile-user .body .overview > .certification > p{
    color: #6e6e6e;
    width: 100%;
}

.profile-user .body .overview > .certification > table{
    margin-top: 1rem;
    border: 1px solid #d9d8d8;
}

.profile-user .body .overview > .certification > table th{
    padding:  0.1rem 2rem 0.1rem 0.5rem !important;
    font-size: 0.85rem;
    font-weight: 400;
    border: 1px solid #d9d8d8;
    background-color: #FAFAFA;
}
.profile-user .body .overview > .certification > table td{
    font-size: 0.85rem;
    font-weight: 400;
    /*border: 1px solid #d9d8d8;*/
}

.profile-user .body .overview > .certification > table td:not(:first-child){

    padding:  0 0 0 0.5rem !important;
}

.profile-user .body .overview > .certification > table td img{
    object-fit: contain;
    width: 5rem;
    height: 6rem;
}


/* end of company overview */


/*prducts overview of company*/

.profile-user .product-overview .header{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0 0 0 1rem !important;

}

.profile-user .product-overview .header input[type="radio"] {
    appearance: none;
    outline: none;
    transition: 0.2s all ease;
}

.profile-user .product-overview .header label {
    display: inline-block;
    padding: 15px 5px;
    text-align: center;
    width: auto;
    text-decoration: none;
    position: relative;
    color: #333;
    cursor: pointer;
}

.profile-user .product-overview .header label:first-of-type {
    border-bottom: 3px solid #ffba36;
}

.profile-user .product-overview .header label:not(:first-of-type){
    margin-left: 1.5rem;
}


.profile-user .product-overview .products{
    padding: 1.5rem 1.5rem 0 1.5rem;
    background-color: white;
    margin-top: 0.8rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.profile-user .product-overview .products p{
    margin: 0;
}

.profile-user .product-overview .products .text{
    width: 100%;
}

.profile-user .product-overview .products .item {
    height: 410px;
    width: 23%;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 1px solid #c7c7c8;
    margin-left: 1rem;
    margin-right: 0.3rem;
}

.profile-user .product-overview .products .item .details {
    padding: 0.8rem 1rem 0.6rem 1rem !important;
    position: relative;
}

.profile-user .product-overview .products .item .image {
    width: 100%;
    overflow: hidden;
    height: 225px;
}

.profile-user .product-overview .products .item .image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.profile-user .product-overview .products .item .details .review .stars i {
    color: #efc40c;
    font-size: 0.8rem;
}

.profile-user .product-overview .products .item .details .review .price {
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 17px;
}

.profile-user .product-overview .products .item .details .description p {
    color: #a9a9a9;
    font-size: 12px;
    margin-top: 0.7rem;
    background-color: white;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}



/* end of prducts overview of company*/

/*end of body*/