/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sidebar-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.sidebar {
    height: 100%;
    width: 390px;
    background: #0C2D48;
    padding: 6px 14px;
    z-index: 99;
    position: fixed;
    top: 0;
    left: -100%;
    transition: all 2s;

}

.sidebar-body .active {
    left: 0;
    transition: all 700ms;
}

nav > div .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;

}

.sidebar .logo-content .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.sidebar .logo-content .logo > div .logo-name {
    margin-left: 0.5rem;
}

.sidebar .logo-content input {
    background-color: #0C2D48;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-bottom: 1px solid white;
    width: 90%;
    box-shadow: transparent;
    color: #999999;
    margin-top: 0.3rem;
}


.sidebar .logo-content input:focus {
    outline: 0 !important;
    box-shadow: none;
}

.sidebar .logo-content .logo i {
    font-size: 1.35rem;
}

.sidebar .logo-content .logo .logo-name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    position: absolute;
    color: white;
    right: 0;
    top: 6px;
    font-size: 25px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
}


.sidebar .profile_content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 8px 8px;
    height: 60px;
    background: #092034;
    color: white;
}


.sidebar .profile_content .profile .profile_details {
    display: flex;
}

.sidebar .profile .profile_details img {
    position: absolute;
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 8px;
    left: 3%;
}

.sidebar .profile .profile_details .name_job {
    position: absolute;
    left: 18%;
}

.sidebar .profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
    color: whitesmoke;
}

.sidebar .profile .profile_details .job {
    font-size: 12px;
    color: whitesmoke;
}

.sidebar .profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 85%;
    min-width: 50px;
    line-height: 50px;
    font-size: 2.25rem;
    border-radius: 12px;
    color: whitesmoke;
}


/* CSSTransition classes */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-160%);
}

.menu-primary-enter-active {
    transform: translateX(0%);
}

.menu-primary-exit {
    position: absolute;
}

.menu-primary-exit-active {
    transform: translateX(-160%);
}

.sidebar-items {
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 84%;
    margin-top: 0.75rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.sidebar-items::-webkit-scrollbar {
    display: none;
}

.sidebar-items .item {
    margin-top: 0.4rem;
    padding: 0 0.45rem !important;
    font-size: 1.05rem;
    color: white;
    position: relative;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 2.3rem;
}

.sidebar-items .item:hover {
    background-color: whitesmoke;
    color: #0C2D48;
}

.sidebar-items .item h5 {
    font-weight: 300;
    font-size: 15px;
    margin: 0 !important;
}

.sidebar-items .item i {
    font-size: 0.95rem;
}

.sidebar-items .item i:last-child {
    position: absolute;
    right: 5%;
    display: none;
}

.sidebar-items .item:hover i:last-child {
    display: block;
}

.sidebar .first-menu {
    display: none !important;
}

.sidebar .secondary-menu {
    display: none !important;
}

@media only screen and (max-width: 1025px) {
    .sidebar {
        transition: all 900ms;
        width: 100%;
    }

    .sidebar-items {
        height: 88%;
    }

    .sidebar #btn {
        font-size: 2.3rem;
    }

    .sidebar-items .item {
        font-size: 1.5rem;
    }

    .sidebar-items .item h5 {
        font-size: 20px;
        margin-top: 5px;
    }

    .sidebar .logo-content .logo i {
        font-size: 1.75rem;
    }

    .sidebar .logo-content .logo .logo-name {
        font-size: 22px;
    }

    .sidebar .profile .profile_details .name_job {
        left: 11%;
    }
}

@media only screen and (max-width: 576px) {


    .sidebar .profile .profile_details .name_job {
        left: 20%;
    }

    .sidebar-items .item h5 {
        font-size: 0.9rem;
    }
    .sidebar-items {
        height: 82%;
    }
}

