.top-liked-products .products .product-card-item {
    width: 16.8%;
}


.top-liked-products {
    padding: 0 3rem !important;
    font-family: "Poppins", sans-serif;
}

.top-liked-products .products {
    height: 380px;
    flex-wrap: wrap;
}


.top-liked-products .row-title div {
    width: 75%;
    background: #DCDEE3;
    border-radius: 10px;
    height: 0.5rem;
}

.top-liked-products .row-title h4 {
    text-transform: uppercase;
    display: inline;
}


.top-liked-products {
    height: auto;
}

.top-liked-products .products {
    height: auto;
}


@media only screen and (max-width: 1025px) {

    /*.top-liked-products .products {*/
    /*    height: 340px;*/
    /*}*/

    .top-liked-products .products .product-card-item{
        height: 340px;
    }

    .top-liked-products .products .product-card-item:last-child{
        display: none;
    }

    .top-liked-products .products .product-card-item {
        width: 45%;
    }

    .top-liked-products .row-title h4 {
        font-size: 0.9rem;
    }

    .top-liked-products .row-title div {
        width: 100%;
    }

}


@media only screen and (max-width: 576px) {

    .top-liked-products .row-title h4 {
        font-size: 1rem;
    }

    .top-liked-products .products .product-card-item .image {
        height: 230px;
    }

    .top-liked-products .products .product-card-item {
        width: 100%;
        margin-right: 0;
    }

    .top-liked-products .products .product-card-item{
        height: auto;
    }

    .top-liked-products {
        padding: 0 1rem !important;
        font-family: "Poppins", sans-serif;
    }
}


@media only screen and (max-width: 365px) {


    .top-liked-products .products {
        height: auto;
    }

    .top-liked-products .row-title {
        display: none;
    }
}