.top-requested-products{

}

.top-requested-products .products-container{
    width:270px;
    height:500px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    border-radius: 15px;
    overflow:hidden;
    font-family: 'Poppins', sans-serif;
}
.top-requested-products .image{
    width: 100%;
    height:230px;
    background: url("../../src/images/airpod.jpeg") center/cover;
}
.top-requested-products .content{
    width: 100%;
    height:270px;
    background: #F6FBFB;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
.top-requested-products .review{
    width:240px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.top-requested-products .stars .fa {
    font-size: .7rem;
    color: #ff9900;
}